@page
@model TechStackCheck.Web.Pages.IndexModel

<div class="container">
    <div class="jumbotron">
        <h1 class="responsive-headline">Tech-Stack-Check</h1>
        <p id="apivalue"></p>
        <p>
            <a class="btn btn-primary btn-lg animate-in" href="#" role="button">Animate in</a>
            <a class="btn btn-lg animate-out" href="#" role="button">Animate out</a>
            <a class="btn btn-lg notify" href="#" role="button">Ping server time</a>
        </p>
    </div>
    <p id="animation-element" class="animated delay-1s slow" hidden>This text should animate in.</p>
    <div id="notification-container"></div>
</div>

@section Scripts {
<environment include="Staging,Development">
    <script src="~/js/app.model.js"></script>
    <script src="~/js/app.viewmodel.js"></script>
</environment>
<environment exclude="Staging,Development">
    <script src="~/js/app.min.js"></script>
</environment>
<script type="text/javascript">
    //Composition root
    var model = getModel(atomic);
    var viewmodel = getViewmodel(model);

    viewmodel.initialize();
</script>
}